// variable overides 

@import "~bootstrap/scss/bootstrap";

// additional css

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: whitesmoke;
}

@mixin contentOverBackground {
    position: absolute;
    right: 0;
    padding: 1rem 2.5rem;
    // color: white;
    font-size: 2rem;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}

header{
    h1{
        padding: 0;
        margin: 0;
        text-align: end;
    }

    #logo{
        
        width: 85px;
        min-height: 65px;
    }

    nav{
        padding: 0;
        margin-left: 1rem;
        ul{
            li{
                a{
                    font-size: 1.35rem;
                }
            }
        }
    }
}

#quote{
    padding: 0;
    margin: 1rem 0;
    img{
        padding: 0;
    }
    figure{
        // @include contentOverBackground;
        // text-align: center;
        // margin: 0;
        // color: white;
    }
}

#featured{
    padding: 0;
    margin: 1rem 0;
    text-align: center;

    ul{
        li{
            margin: 0 5rem 
        }
    }
}

#features{
    padding: 0;
    margin: 1rem 0;
    text-align: center;

    ul{
        
        li:nth-child(odd){
            figure{
                // flex-direction: row-reverse;
                
            } 
        }
        li{
            margin: auto;
            h3{
                padding: 0;
                margin: 0;
            }
            figure{
                margin: auto;
                padding: 0;
                picture{
                    img{
                        min-height: 350px;
                        max-height: 400px;
                        min-width: 325px;
                        max-width: 425px; 
                    }
                }
            }
        }
    }
}

#faq{
    padding: 0;
    margin: 1rem 0;

    img{
        padding: 0;
    }
    #questions{
        margin: auto;
        // @include contentOverBackground;
        padding: 1rem 0;
        h2{
            padding:0;
            
        }
        ul{
            padding: 0;
            li{
                margin: .5rem 0;
            }
        }
    }
}

#footerr{
    padding: 0;
    margin: 1rem 0;
    text-align: center;
    figure{
        margin: 0;
        padding: 0;
    }
    div{
        padding: 0;
    }
    // #copyright{

    //     display: flex;
    //     flex-direction: column-reverse;
    //     padding: 0;
    //     p{
    //         margin: 0; 
    //         text-align: end;
            
    //     }
    // }
    form{
        padding: 0;
        fieldset{
            
            .subscribePart{
                display: flex;
                flex-direction: column;
                text-align: start;
                margin: .25rem 0;
            }
        }
    }
    // address{
    //     display: flex;
    //     justify-content: space-evenly;
    //     padding: 0;
    //     margin: 0;
    //     ul{
    //         margin: 0;
    //         padding: 0;  
    //         li{
    //             margin: .5rem 0;
    //         }
    //     }
    // }
}

@mixin contentOverBackgroundMobile {
    // position: absolute;
    // right: 0;
    padding: .5rem .4rem;
    font-size: .65rem;
}

@media screen and (min-width: 375px){

    html{
        scroll-padding-top: 50px ;
    }

    body{
        background-color: #0E1409;
    };

    header{
        position: sticky;
        z-index: 3;
        padding: .5rem 0 .5rem 0;
        top: 0px;
        background-color: #cae0e1;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        button{
            border: none;
            margin: 0 .5rem;
            background-color: unset;
            svg{
                position: relative;
                z-index: -1;
                path{
                    color: black;
                }
            }
        }
        .pressedHam{
            box-shadow: inset 0px 0px 4px 1px #2b545c;
            border: solid #4a6e74 1px;
            border-radius: 2px;
        }
        h1{
            font-size: 1rem;
            text-align: center;
            color: black;
            margin: 0 .5rem;
        }
        #logo{
            display: none;
        }
        nav{
            display: none;
            box-shadow: inset 0px 6px 10px 0px rgba(43, 84, 92, 0.36);
            ul{
                margin: 0;
                li:nth-child(odd){
                    background-color: #aecfd1;
                }
                li{
                    margin-bottom: .25rem;
                    color: black;
                    a{
                        display: flex;
                        padding: .5rem 0 .5rem .75rem;
                        font-size: .85rem;
                    }
                }
                li:last-child{
                    margin: 0;
                }
            }
        }
    }

    #quote{
        margin: 0;
        margin-bottom: 1rem;
        figure{
            padding: .5rem 1rem;
            text-align: center;
            font-size: .85rem;
            border-top: solid #d5bdbd 3px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
    }

    #horse{
        position: absolute;
        top: 350px;
        z-index: -1;
        padding: 0;
        text-align: end;
        transform: rotate(0deg) scaleX(-1);
        .horn{
            position: relative;
            left: 102px;
            border: solid #d5bdbd 17px;
            clip-path: polygon(55% 14%, 85% 78%, 100% 63%);
        }    
        .snout{
            position: relative;
            top: 17px;
            left: 70px;
            border: solid #d5bdbd 17px;
            clip-path: polygon(100% 15%, 100% 68%, 23% 100%, 34% 65%);
        }
        .neck{
            position: relative;
            top: 22px;
            left: 56px;
            border: solid #d5bdbd 17px;
            clip-path: polygon(40% 0, 66% 7%, 93% 47%, 77% 89%, 30% 100%, 47% 40%);
        }
        .shoulder{
            position: relative;
            top: 27px;
            left: 26px;
            border: solid #d5bdbd 17px;
            clip-path: polygon(86% 36%, 100% 36%, 89% 68%, 70% 77%);
        }
        .leg{
            position: relative;
            top: 52px;
            left: -6px;
            border: solid #d5bdbd 17px;
            clip-path: polygon(81% 0, 85% 29%, 66% 60%, 3% 100%, 26% 34%, 13% 19%);
        }
    }

    #featured{
        h2{
            margin: 0 0 1rem 0;
        }
        margin: 0;
        ul{
            margin: 2rem 0 0 0;
            li{
                margin: auto;
                display: none;
                data{
                    figure{
                        figcaption{
                            margin-top: 1.5rem;
                        }
                    }
                }
            }

            .active{
                display: initial
            }
        }
        button{
            background-color: unset;
            border: none;
            max-height: 50px;
            align-self: center;
        }
        #circleSlideHolder{
            margin: .5rem 0;
            
            button{
                // background-color: unset;
                // border: none;
                
                .activeCircle{
                    background-color: #d5bdbd;
                    border-radius: 50%;
                }
                svg{
                    position: relative;
                    z-index: -1;
                }
                
                
            }
        }
    }

    #features{
        margin: 1rem 0 0 0;
        padding: 1rem 0;
        background-color: #1b2c2c;
        border-top: solid #d5bdbd 3px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        h2{
            margin: 0 0 1rem 0;
        }
        ul{
            li:nth-child(odd){
                box-shadow: inset 0px 0px 70px -35px #e3c6a1;
                border-radius: 0 35%;
                text-align: start;
                
                figure{
                    display: flex;
                    flex-direction: row-reverse;
                    picture{
                        text-align: end;
                    }
                }
            }
            li{
                box-shadow: inset 0px 0px 70px -35px #55848C;
                border-radius: 35% 0;
                margin: .5rem 0;
                padding: .5rem;
                text-align: end;
                figure{
                    margin-top: 1rem;
                    picture{
                        text-align: start;
                        img{  
                            min-height: 90px;
                            max-height: 140px;
                            min-width: 65px;
                            max-width: 165px; 
                        }
                    }
                }
            }
        }
    }

    #faq{
        margin: 0;
        background-color: #637b99a3;
        #questions{
            padding: 1rem 0;
            border-top: solid #d5bdbd 3px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            h2{
                text-align: center;
            }
            ul{
                margin: 0;
                li{
                    padding: 0;
                }
            }
        }
    }

    #socials{
        padding: 1rem 0;
        border-top: solid #d5bdbd 3px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        h2{
            text-align: center;
        }
        ul{
            margin: auto;
            margin-top: 1rem;
        }
    }

    #footerr{
        text-align: center;
        margin: 1rem 0 0 0;
        padding: 1rem 0;
        background-color: #1b2c2c;
        border-top: solid #d5bdbd 3px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        figure{
            margin: 0;
            padding: 1rem 0;
            figcaption{
                margin-top: .5rem;
            }
        }
        form{
            padding: 0;
            margin: auto;
            fieldset{
                .subscribePart{
                    display: flex;
                    flex-direction: column;
                    text-align: start;
                    margin: .25rem 0;
                }
                div{
                    input[type=submit]{
                        background: yellowgreen;
                        color: black;
                    }
                }
            }
        }
        address{
            padding: 0;
            margin: 1rem 0;
            ul{
                margin: 0;
                padding: 0;  
                li{
                    margin: .5rem 0;
                }
            }
        }

        #copyright{
            padding: 0;
            margin-top: 1rem;
            p{
                margin: 0; 
                text-align: start;
            }
        }
    }
}

