// variable overides 

@import "~bootstrap/scss/bootstrap";

// additional css

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@mixin contentOverBackground {
    position: absolute;
    right: 0;
    padding: 1rem 2.5rem;
    color: white;
    font-size: 2rem;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}

header{
    h1{
        padding: 0;
        margin: 0;
        text-align: end;
    }

    #logo{
        
        width: 85px;
        min-height: 65px;
    }

    nav{
        padding: 0;
        margin-left: 1rem;
        ul{
            li{
                a{
                    font-size: 1.35rem;
                }
            }
        }
    }
}

#quote{
    padding: 0;
    margin: 1rem 0;
    img{
        padding: 0;
    }
    figure{
        @include contentOverBackground;
        text-align: center;
        margin: 0;
    }
}

#featured{
    padding: 0;
    margin: 1rem 0;
    text-align: center;

    ul{
        li{
            margin: 0 5rem 
        }
    }
}

#features{
    padding: 0;
    margin: 1rem 0;
    text-align: center;

    ul{
        
        li:nth-child(odd){
            figure{
                flex-direction: row-reverse;
                
            } 
        }
        li{
            margin: auto;
            h3{
                padding: 0;
                margin: 0;
            }
            figure{
                margin: auto;
                padding: 0;
                picture{
                    img{
                        min-height: 350px;
                        max-height: 400px;
                        min-width: 325px;
                        max-width: 425px; 
                    }
                }
            }
        }
    }
}

#faq{
    padding: 0;
    margin: 1rem 0;

    img{
        padding: 0;
    }
    #questions{
        margin: auto;
        @include contentOverBackground;
        padding: 1rem 0;
        h2{
            padding:0;
            
        }
        ul{
            padding: 0;
            li{
                margin: .5rem 0;
            }
        }
    }
}

#footerr{
    padding: 0;
    margin: 1rem 0;
    text-align: center;
    figure{
        margin: 0;
        padding: 0;
    }
    div{
        padding: 0;
    }
    #copyright{

        display: flex;
        flex-direction: column-reverse;
        padding: 0;
        p{
            margin: 0; 
            text-align: end;
            
        }
    }
    form{
        padding: 0;
        fieldset{
            
            .subscribePart{
                display: flex;
                flex-direction: column;
                text-align: start;
                margin: .25rem 0;
            }
        }
    }
    address{
        display: flex;
        justify-content: space-evenly;
        padding: 0;
        margin: 0;
        ul{
            margin: 0;
            padding: 0;  
            li{
                margin: .5rem 0;
            }
        }
    }
}

@mixin contentOverBackgroundMobile {
    position: absolute;
    right: 0;
    padding: .5rem 1rem;
    color: white;
    font-size: .65rem;
}

@media screen and (min-width: 375px){
    body{
        background-color: black
    };

    header{
        position: sticky;
        top: 0px;
        z-index: 3;
        button{
            margin: 0 0 0 .5rem;
            div{
                border: solid black 1px;
                margin: 1px 0;
            }
        }
        h1{
            margin: 0 .5rem 0 0;
            font-size: 1rem;
            text-align: center;
        }
        #logo{
            display: none;
        }
        nav{
            padding: 0;
            margin: 0;
            display: none;
            ul{
                li{
                    margin: .25rem 0 .25rem .5rem;
                    a{
                        font-size: .85rem;
                    }
                }
            }
        }
    }

    #quote{
        figure{
            @include contentOverBackgroundMobile;
        }
    }

    

    #featured{
        .slider{
            border: solid orchid 5px;
        }
        ul{
            li{
                margin: 0;
                display: none;
            }

            .active{
                display: initial
            }
        }
    }

    

    #features{
        ul{
            li{
                figure{
                    picture{
                        img{  
                            min-height: 65px;
                            max-height: 70px;
                            min-width: 85px;
                            max-width: 90px; 
                        }
                    }
                }
            }
        }
    }

    #faq{
        #questions{
            @include contentOverBackgroundMobile;
            padding: 0;
            ul{
                li{
                    margin: 0;
                }
            }
        }
    }
}

